# Main buildout configuration file.

[buildout]
extensions = buildout-versions
versions = versions
parts =
    documentation-builder
    documentation-directories
    documentation-tests
    git-pre-commit
# Configure directories: put buildout generated files in lib/buildout instead
# of in current directory.
bin-directory = bin
develop-eggs-directory = lib/buildout/develop-eggs
downloads-directory = lib/buildout/downloads
eggs-directory = lib/buildout/eggs
installed = lib/buildout/.installed.cfg
parts-directory = lib/buildout/parts

[documentation-builder]
recipe = z3c.recipe.scripts
eggs =
    sphinx
    zc.rst2

[documentation-directories]
recipe = z3c.recipe.mkdir
paths =
    docs/_build
    docs/_static

[documentation-tests]
recipe = z3c.recipe.scripts
eggs =
    ${documentation-builder:eggs}
    lettuce

[git-pre-commit]
recipe = plone.recipe.command
command = cp ${buildout:directory}/scripts/git/pre-commit ${buildout:directory}/.git/hooks/pre-commit
update-command = cp ${buildout:directory}/scripts/git/pre-commit ${buildout:directory}/.git/hooks/pre-commit
location = ${buildout:directory}/.git/hooks/pre-commit

[versions]
Jinja2 = 2.6
Sphinx = 1.1.3
buildout-versions = 1.7
z3c.recipe.mkdir = 0.3.1
z3c.recipe.scripts = 1.0.1
zc.recipe.egg = 1.3.2
Pygments = 1.5
distribute = 0.6.27
docutils = 0.9
zc.buildout = 1.5.2
zc.rst2 = 0.2
